/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  height: 100%;
}

.btn-primary {
  background-color: #b8582f !important;
  border: unset;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #b8582f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.view {
  position: absolute;
  width: calc(100% - 100px);
  padding: 10px;
  right: 0;
  height: 100%;
}

.header {
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.list {
  height: 60%;
  overflow-y: scroll;
  border-top: solid 1.5px #fdf6ee;
}

.head-field-table {
  color: #f59b37;
}

h1 {
  font-weight: 600;
  color: #ffd369;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 15px;
  color: #94692f;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

.fas {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}